@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div>@Gravatar.GetHtml("sistemas@bmwvecsa.com")</div>
        <div>@Gravatar.GetHtml("sistemas@bmwvecsa.com", 50, "wavatar")</div>
    </body>
</html>
